.footer-container {
    min-height: 25vh;
    width: 100%;
    background: linear-gradient(to bottom, #2f4e7a 0%, #181a30 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    > p {
        color: #fff;
        text-align: center;
        font-size: 12px;
    }
}

.footer-content {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.footer-logo-container {
    height: 150px;
    width: fit-content;
    > img {
        height: 100%;
        object-fit: contain;
    }
}

.footer-about-us-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    > h1 {
        font-size: 17px;
        font-weight: 400;
    }
    > p {
        > a {
            color: #fff;
            text-decoration: none;
            font-size: 14px;
        }
    }
}