.nav-container {
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0c9ced;
}

.header-container {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.logo-container {
    > a {
        > img {
            object-fit: contain;
            height: 160px;
        }
    }
}

.navigation-path-container {
    > ul {
        display: flex;
        gap: 37px;
        list-style-type: none;
        font-weight: 550;
        font-size: 18px;
        > li {
            > a {
                text-decoration: none;
                color: #fff;
                &::after {
                    display: block;
                    content: '';
                    border-bottom: 2px solid #fff;
                    transform: scaleX(0);
                    // transform-origin: 0% 50%;
                }
                &:hover::after {
                    transition: transform 0.3s ease-in-out;
                    transform: scaleX(1);
                }
            }
        }
    }
}

.hamburger-container {
    display: none;
}

.navigation-path-small-devices-container {
    display: none;
}

@media screen and (max-width: 612px) {
    .navigation-path-container {
        > ul {
            display: none;
        }
    }
    .nav-container {
        position: absolute;
        z-index: 9;
    }
    .hamburger-container {
        display: flex;
        font-size: 31px;
    }
    .navigation-path-small-devices-container {
        position: relative;
        display: none;
        background-color: #0c9ced;
        width: 100%;
        display: none;
        justify-content: center;
        padding: 1rem;
        z-index: 99;
        > ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: 9px;
            > li {
                > a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
    .navigation-path-small-devices-container.active {
        display: flex;
    }
}